// Specific CSS for your home-page
.lists-cover {

  position: relative;
  margin-bottom: 32px;

  img {
    object-fit: cover;
    width: 100%;
  }

  .cover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); /* iOS */
    margin: 0;
    color: $light-gray;
    text-align: center;
  }

}

.lists-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 56px;
  width: 100%;
}

.flex-lists-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0px 16px 0px;
}

@media (max-width: 992px) {
  .lists-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .lists-grid {
    grid-template-columns: 1fr;
  }
}
